body {
background-color: rgba(15, 56, 241, 0.514);
color: rgb(121, 34, 98);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(56, 43, 68);
padding: 30px;
color: rgb(39, 10, 39);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}