body {
background-color: rgba(132, 0, 255, 0.514);
color: rgb(78, 4, 138);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(92, 1, 110);
padding: 30px;
color: rgb(99, 0, 99);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}